# Ignore build and binary directories
bin/
obj/
Debug/
DebugFiles/
runtimes/

# Ignore IDE and editor files
.vs/
.vscode/
.idea/
.suo

# Ignore platform-specific binaries
*.dll
*.exe
*.pdb

# Ignore metadata and cached files
*.bin
*.cache
*.json
*.log
